<div id="game">
  <%if @win %>
    <div class="alert alert-success"><%=@win%></div>
  <% end %>
  <%if @lose %>
    <div class="alert alert-error"><%=@lose%></div>
  <% end %>
  <%if @push %>
    <div class="alert alert-info"><%=@push%></div>
  <% end %>

  <h4>Blackjack Casino</h4>
    <% if @game_over %>
      
      <% if !@broke %>  
        <p>
          Would you like to play again?
          <span id="chips"><strong>Chip Count:</strong> <%= session[:player_pot]%></span>
        </p>
        <form id='rebet' action='/rebet' method='post'>
          <input type='submit' class='btn btn-success' value='Repeat Bet (<%= session[:bet_amount] %>)' />
        </form>  
        <a id='change-bet' class='btn btn-primary' href='/bet'>Change Bet</a>
        <a id='quit' class='btn btn-danger' href='/gameover'>Quit</a>

      <% else %>
        <p>
          Uh oh! Looks like you went broke! What would you like to do?
          <span id="chips"><strong>Chip Count:</strong> <%= session[:player_pot] %></span>
        </p>
        <p>
          <a class='btn btn-primary' href="/">Try My Luck Again</a> 
          <a class='btn' href="http://stocksonwallstreet.net/wp-content/uploads/2010/05/n201303957_31602072_2714.jpg">Go Home</a>
        </p> 
      <% end %>
    
    <% else %>
      <p>Good luck <%= session[:player_name] %>!</p>
      <strong>Current Bet:</strong> <%= session[:bet_amount] %> 
      <span id="chips"><strong> Chip Count:</strong> <%= session[:player_pot] - session[:bet_amount] %></span>
    <% end %>

  <div class='well' id='dealer-area'>
    <h4>Dealer</h4>
      <% if @show_all_cards %>
        <% session[:dealer_cards].each do |card| %>
          <img id='card' src= <%= get_card_img(card) %>>
        <% end %>
        <p>Dealer has <%= calc_total(session[:dealer_cards]) %> 
        <% if @show_dealer_button %>
          &#8594; Dealer will hit</p>
          <form id='dealer-hit' action='/dealer/hit' method='post'>
            <input type='submit' class='btn' value='Click to See the Next Card'/>
          </form>
        <% end %>
      <% else %>
        <img id='card' src='/images/cards/cover.jpg' alt='cover'>
        <img id='card' src= <%= get_card_img(session[:dealer_cards].last) %>>
      <% end %>
  </div>

  <div class='well' id='player-area'>
    <h4>You</h4>
      <% session[:player_cards].each do |card| %>
        <img id='card' src= <%= get_card_img(card) %>>
      <% end %>
    <p>You have <%= calc_total(session[:player_cards]) %></p>
  </div>

  <% if @show_buttons %>
    <div class='action-bar'>
      <h4>What would you like to do?</h4>
      <form id='hit' action='/player/hit' method='post'>
        <input type='submit' value='Hit' class='btn btn-success' />
      </form>
      <form id='stay' action='/stay' method='post'>
        <input type='submit' value='Stay' class='btn btn-warning' />
      </form>
    </div>
  <% end %>

</div>
